.board {
  display: grid;
  grid-template-columns: repeat(3, 4rem);
  grid-template-rows: repeat(3, 4rem);
  border: 1px solid rgba(255, 255, 255, 0.12);
}

@media (min-width: 340px) {
  .board {
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(3, 6rem);
  }
}

@media (min-width: 480px) {
  .board {
    grid-template-columns: repeat(3, 8rem);
    grid-template-rows: repeat(3, 8rem);
  }
}

@media (min-width: 1200px) {
  .board {
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 10rem);
  }
}

button {
  border-radius: 0;
  margin-top: 0.5rem;
  height: 3rem;
}

mat-toolbar {
  display: flex;
  place-content: center;
  height: 3rem;
  margin-bottom: 1rem;
}

.game {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto;
  place-content: center;
}

